<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">

        <div>
            <center>
                <form method="POST" enctype="multipart/form-data">
                  <h2>Registration Form</h2>
                  <br> 
                  {% csrf_token %}
                    {{umf.as_p}}
                    {{pmf.as_p}}
                    <input type="submit" value="Registration" class="btn btn-success">
                </form>
            </center>
        </div>
    </div>
</body>
</html>